<!DOCTYPE html>
<html lang='es'>
	{% load static %}
	<head>
		<title> SIA </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<meta charset = 'utf-8'>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		    <link rel="stylesheet" href="{% static '/css/loginDpng/eca65102f370.css' %}" type="text/css" />
		    <link rel="stylesheet" href="{% static '/css/loginDpng/login.css' %}">
		</meta>

		<script src="{% static 'js/lib_externas/jquery-1.12.4.js' %}"></script>
		<script src="{% static 'js/lib_externas/jquery-ui.js' %}"></script>

		
	</head>
	<!--PaginaLogin-->
	<body id="login">

		<div class="app-container">
			<!-- IMAGENES DPNG - MAE -->
			<div id="login_imagen" style="text-align: center; margin-top: 20px;">
				<div style="margin-bottom: 12px;" >
					<div style="display: inline-block;">
						<img id="imagen1" src="{% static '/image/login/logo-PNG.png' %}" alt="galeria" width="60%" height="60%" style="margin: auto;"> 
					</div>

				</div>
				<div style="margin-bottom: 12px;" >
				<div style="display: inline-block;">
								<img id="imagen1" src="{% static '/image/login/Logo mae-2020_2.png' %}" alt="galeria" width="40%" style="margin: auto;"> 
							</div>

				</div>
			</div>



			<!-- FORMULARIO LOGIN -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
						<form id="formlogin" class="form-horizontal login-box dt-sheet dt-sheet-1" action="login"
						method="POST" name="login" style="text-align: center">

							<input type='hidden' name='csrfmiddlewaretoken' value='8cIe29JWxpKj4K1ZuDcttTwI8ApSxImj' />
							<h2 class="hidden-xs">S.I.A.</h2>
							<p class="hidden-xs">&nbsp;</p>

							<input id="user" name="userLogin" autocapitalize="none" autocorrect="off" class="form-control" maxlength="40" placeholder="Nombre de usuario" type="text" style="margin-left: 0px" />
							<input class="form-control" id="pass" maxlength="40" name="passLogin" placeholder="Contraseña" type="password" style="margin-left: 0px"/>
							<button type="submit" class="btn btn-primary btn-block" style="margin-top: 15px;"
							id="formbutton">Entrar</button>

							<!-- Boton para registrarse en el sistema -->
							<a class="btn btn-default btn-block" href="{% url 'registrarse' %}" style="margin-top: 15px;" role="button"><b>Registrarse<b></a>							

							<!-- Mensaje de Error de Autenticacion -->
							<p style="margin-top: 10px; color: red; ">{{txt_error}}</p>


							
							
							<div class="" style="margin-top: 25px; text-align: center; color: black;">
							  <a href="{% url 'password_reset' %}" id="olvidoacceso" style="color: black;" >¿Olvidaste la contraseña?</a>
							</div>
							<input name="ret" value="/panel" type="hidden" />
							
							<p style="margin-top: 50px; color: black; font-family: Arial; text-align: center;  ">Para su correcto funcionamiento se recomienda <span style="color: #D83A08;font-weight: bold;"> GOO</span><span style="color: #11B33C;font-weight: bold;">GLE</span> <span style="color: #0741B1;font-weight: bold;"> CHROME. </span> </p>
						</form>

						<!--
						<form id='formolvido' style="display: none;" class="form-horizontal well" action='/olvido'
						  method="POST">
							<input type='hidden' name='csrfmiddlewaretoken' value='8cIe29JWxpKj4K1ZuDcttTwI8ApSxImj' />
							<div class="messagesok"></div>
							<p>Escribe tu correo electrónico y te enviaremos información para que puedas
							volver a acceder a tu cuenta.</p>
							<input class="form-control" id="id_email" maxlength="100" name="email" placeholder="Escribe tu email" required="true" type="text" />

							<button type="submit" class="btn btn-primary btn-block" style="margin-top: 15px;"
							id="formbuttonolvido"> Recuperar contraseña </button>

							<a href='#' id='olvidoatras' class="" style="margin-top: 15px; text-align:center; display:block;">Iniciar sesión</a>
						</form>
						-->

					</div>

				</div>
			</div>
		</div>


	</body>

	<script type="text/javascript">            
	    
	    $(document).ready(
	        function() {
	            $('#formlogin').submit(function() {
	                var username = "django";
	                var password = "DpngDjango.2019";
	                
	                var url = "https://produccion.sia.dpng.gob.ec:8143/cas/login?service=https://produccion.sia.dpng.gob.ec:8143/jw&username="+username+"&password="+password+"&auto=true";
	                
	                var win = window.open(url,'SSOWindow', 'width=300, height=150');    
	                return true;                                
	            });
	        }                    
	    );
	    
    </script>

</html>