<!DOCTYPE html>
<html lang='es'>
	{% load static %}
	<head>
		<title> SIA </title>
		<meta charset = 'utf-8'>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		    <link rel="stylesheet" href="{% static '/css/loginDpng/eca65102f370.css' %}" type="text/css" />
		    <link rel="stylesheet" href="{% static '/css/loginDpng/login.css' %}">
		</meta>

		<script src="{% static 'js/lib_externas/jquery-1.12.4.js' %}"></script>
		<script src="{% static 'js/lib_externas/jquery-ui.js' %}"></script>

		
	</head>
	<!--PaginaRegistro-->
	<body id="registro">

		<div class="app-container">
			<!-- IMAGENES DPNG - MAE -->
			<div id="login_imagen" style="text-align: center; margin-top: 20px;">
				<div style="margin-bottom: 12px;" >
					<div style="display: inline-block;">
						<img id="imagen1" src="{% static '/image/login/logo-PNG.png' %}" alt="galeria" width="60%" height="60%" style="margin: auto;">
					</div>
				</div>
				<div style="margin-bottom: 12px;" >
					<div style="display: inline-block;">
						<img id="imagen1" src="{% static '/image/login/Logo mae-2020_2.png' %}" alt="galeria" width="40%" style="margin: auto;"> 
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3" style="margin-top: 80px; text-align: center">
						<h1 style="font-size: 50px; color: white">Su contraseña ha sido actualizada con éxito!!</h1>
						<p style="font-size: 25px; color: black">Por favor inicie sesión con su nombre de usuario y la nueva contraseña</p>
						
						<a class="btn btn-default" href="{% url 'index' %}" style="margin-top: 50px; width: 200px; font-size: 20px" role="button"><b>Iniciar Sesión<b></a>
					</div>
				</div>
			</div>

		</div>

	</body>


</html>