<!DOCTYPE html>
<html lang='es'>
	{% load static %}
	<head>
		<title> SIA </title>
		<meta charset = 'utf-8'>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		    <link rel="stylesheet" href="{% static '/css/loginDpng/eca65102f370.css' %}" type="text/css" />
		    <link rel="stylesheet" href="{% static '/css/loginDpng/login.css' %}">
		</meta>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	</head>
	<!--PaginaLogin-->
	<body id="login">

		<div class="app-container" style="overflow-y:scroll">
			<!-- IMAGENES DPNG - MAE -->
			<div id="login_imagen" style="text-align: center; margin-top: 20px;">
				<div style="margin-bottom: 12px;" >
					<div style="display: inline-block;">
						<img id="imagen1" src="{% static '/image/login/logo-PNG.png' %}" alt="galeria" width="60%" height="60%" style="margin: auto;"> 
					</div>

				</div>
				<div style="margin-bottom: 12px;" >
				<div style="display: inline-block;">
								<img id="imagen1" src="{% static '/image/login/Logo mae-2020_2.png' %}" alt="galeria" width="40%" style="margin: auto;"> 
							</div>

				</div>
			</div>

			<!-- FORMULARIO LOGIN -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
						<form id="formPasswordReset" class="form-horizontal login-box dt-sheet dt-sheet-1" action='#' method="POST" style="text-align: center">

							<input type='hidden' name='csrfmiddlewaretoken' value='8cIe29JWxpKj4K1ZuDcttTwI8ApSxImj' />
							<h2 class="hidden-xs" style="font-size: 30px"><b>Nueva Contraseña</b></h2>
							<p class="hidden-xs">&nbsp;</p>

							<div class="row">						
								<div class="col-md-8" style="margin-top: 30px">
									<table>
										<tr height="10px;"> </tr>
										<tr>
											<td>
												<p>Nueva Contraseña:</p>
											</td>
											<td>
												<input id="password1" name="password1" class="form-control" placeholder="" type="password" style="margin-left: 0px; text-align: left; border-color: gray" />
											</td>
										</tr>
										<tr height="25px;"> </tr>
										<tr>
											<td>
												<p>Confirmar Contraseña:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
											</td>
											<td>
												<input id="password2" name="password2" class="form-control" placeholder="" type="password" style="margin-left: 0px; text-align: left; border-color: gray" />
											</td>
										</tr>
									</table>
								</div>
								<div class="col-md-4" align="left">
									<span style="color:#FF0004; font-weight: bold;">Validación de Contraseña</span>
						              <br><br>
						              <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Caracteres minimo<br>
						              <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 1 letra Mayuscula<br>
						              <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 1 letra minuscula<br>
						              <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 1 Numero<br><br>
						              <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Contraseñas Coinciden
								</div>
							</div>

							<!--
							<p>Nueva Contraseña:</p>
							<input id="password1" name="password1" autocapitalize="none" autocorrect="off" class="form-control" maxlength="40" placeholder="" type="password" style="margin-left: 0px" />

							<p>Confirmar Contraseña:</p>
							<input id="password2" name="password2" autocapitalize="none" autocorrect="off" class="form-control" maxlength="40" placeholder="" type="password" style="margin-left: 0px" />
							-->
							<!--<button class="btn btn-primary btn-block" style="margin-top: 15px;"
							id="formbutton" >Grabar</button>	-->

							<p class="hidden-xs">&nbsp;</p>

							<a class="btn btn-primary" style="margin-top: 15px; color: white; width: 125px" role="button" onclick="cambiarPassword()"><b>Grabar<b></a>						

							<!-- Mensaje de Error de Autenticacion -->
							<p id="nombre_usuario" style="margin-top: 10px;" hidden>{{ usuario }}</p>

							<p class="hidden-xs">&nbsp;</p>

							<span id="validacionPassw" style="margin-top: 10px; color:#FF0004; font-weight: bold; display: none;"></span>

							<p style="margin-top: 10px; color: red;">{{txt_mensaje}}</p>

							<input name="ret" value="/panel" type="hidden" />
							
							<p style="margin-top: 50px; color: black; font-family: Arial; text-align: center;  ">Para su correcto funcionamiento se recomienda <span style="color: #D83A08;font-weight: bold;"> GOO</span><span style="color: #11B33C;font-weight: bold;">GLE</span> <span style="color: #0741B1;font-weight: bold;"> CHROME. </span> </p>
						</form>

					</div>

				</div>
			</div>
		</div>

		{% load static %}

		<script src="{% static 'js/lib_externas/jquery-1.12.4.js' %}"></script>
  		<script src="{% static 'js/lib_externas/jquery-ui.js' %}"></script>

  		<script type="text/javascript" src="{% static 'js/lib_externas/bootstrap.min.js' %} "></script>
  		<script src="{% static 'js/lib_externas/jquery.stackbox.js' %}"></script>

		<script>document.write('<script src="{% static "js/lib_internas/bs_general.js" %}?dev=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>


	</body>

	<script type="text/javascript">            
	    
	    $(document).ready(
	        function() {
	            $('#formlogin').submit(function() {
	                var username = "django";
	                var password = "DpngDjango.2019";
	                
	                var url = "https://produccion.sia.dpng.gob.ec:8143/cas/login?service=https://produccion.sia.dpng.gob.ec:8143/jw&username="+username+"&password="+password+"&auto=true";
	                
	                var win = window.open(url,'SSOWindow', 'width=300, height=150');    
	                return true;                                
	            });
	        }                    
	    );
	    
    </script>

</html>