
/******  BOTONES *******/

/* EDIT */
.btn_edit{
	font-size: 20px;
}


/* ELIMINAR */ 
.btn_eliminar{
	font-size: 20px;
}


/* ELIMINAR */ 
.btn_buscar{
	font-size: 20px;
}

/* NUEVO */ 
.btn_nuevo{
	font-size: 24px;
}










