<!DOCTYPE html>
<html lang='es'>
	{% load static %}
	<head>
		<title> SIA </title>
		<meta charset = 'utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static '/css/loginDpng/eca65102f370.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static '/css/loginDpng/login.css' %}">
		<link rel="icon" href="{% static 'image/favicon.ico' %}">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<script src="{% static 'js/lib_externas/jquery-1.12.4.js' %}"></script>
		<script src="{% static 'js/lib_externas/jquery-ui.js' %}"></script>

		
	</head>
	<!--PaginaLogin-->
	<body id="terminos">

		<div class="app-container" style="overflow-y:scroll">
			<!-- IMAGENES DPNG - MAE -->
			<div id="login_imagen" style="text-align: center; margin-top: 20px;">
				<div style="margin-bottom: 12px;" >
					<div style="display: inline-block;">
						<img id="imagen1" src="{% static '/image/login/logo-PNG.png' %}" alt="galeria" width="60%" height="60%" style="margin: auto;"> 
					</div>

				</div>
				<div style="margin-bottom: 12px;" >
					<div style="display: inline-block;">
						<img id="imagen1" src="{% static '/image/login/Logo mae-2020_2.png' %}" alt="galeria" width="40%" style="margin: auto;"> 
					</div>
				</div>
			</div>



			<!-- FORMULARIO LOGIN -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">
						<div class="form-horizontal login-box" style="text-align: left;">

							<h2 class="hidden-xs" style="text-align: center;"><b>Términos y Condiciones de uso</b></h2>
							<p class="hidden-xs">&nbsp;</p>

							<p style="font-size: 17px">Estimado usuario:</p>

							<p style="font-size: 17px">¡Bienvenido! Este sitio Web es de propiedad de la Dirección del Parque Nacional Galápagos, en adelante, DPNG.</p>

							<p style="font-size: 17px" align="justify">Al acceder a este sitio Web y/o a cualquiera de sus páginas, usted (el usuario) acepta las condiciones y términos de uso que se indican a continuación. La navegación por este sitio le atribuye la condición de usuario e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en estas condiciones generales de uso, por lo que si no está de acuerdo con cualquiera de las condiciones aquí establecidas, no deberá usar este sitio Web.</p>
							
							<p class="hidden-xs">&nbsp;</p>
							<p style="font-size: 17px" align="justify">
								<b>1. Condiciones de acceso y utilización</b><br>
								El sitio y sus servicios son de acceso libre, no obstante, DPNG podrá condicionar la utilización de algunos de los servicios al previo diligenciamiento de formularios. El usuario garantiza la autenticidad y actualidad de todos los datos que comunique y será el único responsable de las manifestaciones falsas o inexactas que realice.
							</p>

							<p class="hidden-xs">&nbsp;</p>
							<p style="font-size: 17px" align="justify">
								<b>2. Uso de correos electrónicos</b><br>
								Las cuentas de correo electrónico que aparecen en este sitio deben usarse únicamente para el fin expresamente establecido para dichos correos. En especial éstos no podrán ser utilizados para:<br>
								<b>i.</b> Envío de contenidos ilegales.<br><br>

								<b>ii.</b> Difusión masiva de mensajes, en especial de publicidad no solicitada.<br><br>

								<b>iii.</b> Cualquier tipo de ataque encaminado a entorpecer o dificultar el servicio de correo u otros servicios.
							</p>

							<p class="hidden-xs">&nbsp;</p>
							<p style="font-size: 17px" align="justify">
								<b>3. Recomendaciones a el Usuario</b><br>
								<b>i.</b> Asegúrese de terminar su operación o cerrar su sesión antes de retirarse de cualquier medio donde requiera digitar su clave.<br><br>

								<b>ii.</b> Varios exploradores o browsers (Software utilizados para navegar por Internet, como por ejemplo Netscape o Internet Explorer), permiten almacenar las contraseñas que se le solicitan en algunos sitios. Debido a que otras personas pueden tener acceso a esa información, no es recomendable hacer uso de esta opción.
							</p>
							

						</div>

					</div>

				</div>
			</div>
		</div>

	</body>

</html>