{% load static %} 
{% block content %}
<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">

<style type="text/css">
    .filters input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        fieldset {
            border: 1px solid #ddd !important;
            margin: 0;
            xmin-width: 0;
            padding: 10px;
            position: relative;
            border-radius: 4px;
            background-color: #f5f5f5;
            padding-left: 10px!important;
        }
        legend {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0px;
            width: 35%;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px 5px 5px 10px;
            background-color: #ffffff;
        }
        #map {
            height: 500px;
        }
    }
</style>

<!-- FORMULARIO  -->
<div id="content_Producto">
    <div id="addProducto" style="display: none;">
        <div class="stackbox-header cab_popup" align="center">Registro de Productos <i class="fa fa-product-hunt" aria-hidden="true" style="font-size: 20px; float: left;"></i></div>

        <div class="stackbox-body" id="bodyaddProducto">
            <div class="notification">
                <span class="icon">
                    <i class=""></i>
                </span>
                <span class="text"></span>
                <span class="close"><i class="fa fa-close"></i></span>
            </div>
            <div class="row" align="center">
                <div class="col-xs-12 callout" style="border-color: #1b90ad;">

                    <!-- CAMPOS FORM -->
                    {% csrf_token %}
                    <form id="frm_producto" action="#" method="post">

                        <table style="width: 100%">
                            <input type="hidden" id="idProductoST" name="idProductoST" value="" />
                            <tr height='10px;'></tr>
                            <tr>
                                <td align="left">*Nombre</td>
                                <td style="text-align: left;">Vendible</td>
                            </tr>
                            <tr>
                                <td><input type="text" id="descProductoST" class="form-control requerido" text="Nombre"/></td>
                                <td align="center"><input type="checkbox" id="vendibleProductoST" name="embarazoPers" value="1"></td>
                            </tr>
                            <tr height='10px;'></tr>
                            <tr>
                                <td align="left">*Precio Venta</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="pvProductoST" class="form-control requerido" text="Precio Venta"/> </td>
                            </tr>
                            <tr height='10px;'></tr>
                            <tr>
                                <td align="left">*Precio Costo</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="pcProductoST" class="form-control requerido" text="Precio Costo"/> </td>
                            </tr>
                            <tr height='10px;'></tr>
                            <tr>
                                <td align="left">*Tipo</td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="StipoProductoST" class="select2 requerido" text="Estado">
                                        <option value="">Seleccione una Opcion</option>
                                        {% for tipo in tipos %}
                                            <option value="{{ tipo.valor }}">{{ tipo.label }}</option>
                                        {% endfor %}
                                    </select>    
                                </td>
                            </tr>
                            <tr height='10px;'></tr>
                            <tr>
                                <td align="left">Categoria Contable</td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="ScatProductoST" class="select2" text="Estado">
                                        <option value="">Seleccione una Opcion</option>
                                    </select>    
                                </td>
                            </tr>
                            <tr height='10px;'></tr>
                            <tr>
                                <td align="left">*Unidad Medida</td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="SumProductoST" class="select2" text="Estado">
                                        <option value="">Seleccione una Opcion</option>
                                        {% for unidad in unidades %}
                                            <option value="{{ unidad.simbolo }}">{{ unidad.descripcion }}</option>
                                        {% endfor %}
                                    </select>    
                                </td>
                            </tr>
                            <tr height='10px;'></tr>
                            <tr>
                                <td align="left">*Estado</td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="SestadoProductoST" class="select2 requerido" text="Estado">
                                        <option value="">Seleccione una Opcion</option>
                                        <option value="A">ACTIVO</option>
                                        <option value="I">INACTIVO</option>
                                    </select>
                                </td>
                            </tr>
                            <tr height='10px;'></tr>
                            <tr>
                                <td align="left">Observacion</td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea id="observacionProductoST" class="form-control" rows="3" style="width: 100%; font-size: 12px;"></textarea>
                                </td>
                            </tr>
                        </table>

                        <input type="hidden" id="tipoPST" value="0" />
                    </form>
                </div>
            </div>
        </div>
        <div class="stackbox-footer">
           
            <button class="btn btn-primary" onclick="setInsertUpdateProducto();">Grabar</button>
            
            <button class="btn btn-default" data-close-stackbox="true">Close</button>
        </div>
    </div>

    <div class="box">

        <div class="box-header">
            <i class="fa fa-list"></i>
            <h3 class="box-title">Lista de Productos <i class="fa fa-product-hunt" aria-hidden="true" style="font-size: 20px; margin-left: 10px;"></i></h3>
            <div class="botonera" style="float: right; right: 1px;">

                
                <a onclick="limpiarFormProductoST();" href='#addProducto' data-stackbox='true' data-stackbox-position="absolute"><i class="fa fa-plus-circle text-green btn_nuevo"></i></a> 

                <!--a title="pfd" onclick="generarPdf('tabla_TorNido',11)"><i class="fa fa-file-pdf-o text-green"></i></a-->

                <a title="excel" onclick="generarExcel('tabla_producto',14)"><i class="fa fa-file-excel-o text-green"></i></a>

                <!--a title="Agregar Nuevo" onclick="limpiarFormLicencia_SP();"   href='#addLicenciaL' data-stackbox='true' data-stackbox-position="absolute"><i class="fa fa-plus-circle text-green"></i></a-->
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="tabla_producto" style="font-size: 10px; text-transform: uppercase;font-weight: bold;" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead style="background-color: #0073b7;    color: white;">
	                <th>Nombre</th>
                    <th>Precio Costo</th>
                    <th>Precio Venta</th>
                    <th>Tipo</th>
                    <th>Um</th>
                    <th>Categoria<br>Contable</th>
                    <th>Vendible</th>
	                <th></th>
	                <th></th>
                </thead>
                <tbody id="bodytabla_producto">

                </tbody>
            </table>
        </div>
        <!-- /.box-body -->

    </div>
    <!-- /.box -->

</div>
<!-- /.content -->

<!-- AdminLTE datatable -->
<!-- jQuery 3 -->
{% load static %}

<script>
    $(document).ready(function() {
        $('#SestadoProductoST').select2();
        $('#StipoProductoST').select2();
        $('#SumProductoST').select2();
        $('#ScatProductoST').select2();
        buscarProductoParametros("");
        var table = $('#tabla_producto').DataTable();
        //var f1 = (new Date).getFullYear() + "-01-01";
        //var f2 = (new Date).getFullYear() + "-12-31";
        //var dataini = f1 + "," + f2;
        
    });
 
</script>

{% endblock %}