{% load static %} 
{% block content %}

<div id="content_controlS">
    <div id="addControlSP" style="display: none;" class="efecto">
        <div class="stackbox-header cab_popup" align="center">
            <img src="{% static 'image/favicon.ico' %}" width="40px" style="float:left;margin-top: -5px;" />
            <h id="tituloContS"> </h> Control</div>
        <div class="stackbox-body" id="bodyaddControlSP">
            <input type="hidden" id="idcontrolS" name="idcontrolS" value="" />
            <input type="hidden" id="tipot_contS" value="0" /> {% csrf_token %}

            <div class="row" style="box-shadow: 5px 5px 5px 5px #888888; width: 103%; margin-top: 20px;">
                <!--div usado para que se muestren las notificaciones cuando un campo es obligatorio es necesario agregar id stackbox-body y agregar atributo "text" (con el nombre de la etiqueta) a cada input obligatorio-->
                <div class="notification">
                    <span class="icon">
              <i class=""></i>
          </span>
                    <span class="text"></span>
                    <span class="close"><i class="fa fa-close"></i></span>
                </div>
                <!--fin notificacion-->
                <br>
                <form id="frm_controlS" action="#" method="post" enctype="multipart/form-data">
                    <div class="col-xs-12">
                        <div class="col-xs-6 callout" style="border-color: #1b90ad;">
                            <table>
                                <tr>
                                    <td align="left">*Funcionario<a style="cursor: pointer; font-size: 14px; margin-left: 10px" title="Buscar Funionario" href='#popupFuncionarios' onclick="limpiaPopupFuncionario('SP_asistencia');" data-stackbox='true' data-stackbox-position="absolute"><i class="fa fa-search text-blue"></i></a></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <input type="text" class="form-control requerido" name="nombrefuncionarioCont" text="Funcionario" id="nombrefuncionarioCont" style="width: 200%; font-size: 11px;" readonly />
                                        <input type="hidden" name="funcionarioidCont" id="funcionarioidCont" />
                                        <input type="hidden" name="funcionariocedCont" id="funcionariocedCont" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="col-xs-12">
                        <div style="border-bottom:2px solid #3c8dbc;font-size: 14px;box-shadow: 1px 5px 5px;"><i class="fa fa-fw fa-paste"></i>Datos Registro</div>
                        <br>
                        <div class="col-xs-6 callout" style="border-color: #1b90ad;">
                            <table>
                                <tr>
                                    <td style="text-align: left;">*Fecha</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control requerido" text="Fecha" name="fec_control" id="fec_control" style="width: 100%; font-size: 11px;" />
                                    </td>
                                </tr>
                                <tr height="10px;"> </tr>
                                <tr>
                                    <td align="left">*Tipo Incidencia</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="optionTipo">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
                                                <label class="form-check-label" for="inlineCheckbox1">Carnet</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2">
                                                <label class="form-check-label" for="inlineCheckbox2">Uniforme</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="3">
                                                <label class="form-check-label" for="inlineCheckbox3">En sitio</label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-xs-6 callout" style="border-color: #1b90ad;">
                            <table>
                                <tr height='10px;'></tr>
                                <tr>
                                    <td align="left">Observación</td>
                                </tr>
                                <tr>
                                    <td>
                                        <textarea id="observacion_control" class="form-control" rows="7" style="width: 180px;"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="stackbox-footer">
            {% if perms.ap_talentohumano.add_perfuncionariocontrolesrrhh or perms.ap_talentohumano.change_perfuncionariocontrolesrrhh %}
            <button class="btn btn-primary" onclick="saveEditAsistencia_SP();">Grabar</button>
            {% endif %}
            <button class="btn btn-default" data-close-stackbox="true">Close</button>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <i class="fa fa-list"></i>
            <h3 class="box-title">Lista de Control de Personal</h3>
            <div class="botonera" style="float: right; right: 1px;">
                <a title="pfd" onclick="generarPdf('tabla_controlS',4)"><i class="fa fa-file-pdf-o text-green"></i></a>
                <a title="excel" onclick="generarExcel('tabla_controlS',4,'Control de Personal')"><i class="fa fa-file-excel-o text-green"></i></a> {% if perms.ap_talentohumano.add_perfuncionariocontrolesrrhh %}
                <a title="Agregar Nuevo" onclick="limpiarFormControlS();" href='#addControlSP' data-stackbox='true' data-stackbox-position="absolute"><i class="fa fa-plus-circle text-green"></i></a> {% endif %}

            </div>
        </div>
        <!-- /.box-header -->

        <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="collapse" href="#collapseSan" role="button" aria-expanded="false" aria-controls="collapseSan" style="margin-right: 5px;" data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
                <!-- /. tools -->
                <i class="fa fa-map-marker"></i>
                <h3 class="box-title">
            Filtros de Busqueda
          </h3>
            </div>
            <div class="box-body collapse" style="background-color: white;" id="collapseSan">
                <div class="col-xs-12">

                    <div class="col-xs-4">
                        <h style="font-size: 14px;color: black;font-weight: bold;height: 20px;">Nombre</h>
                        <input type="text" class="form-control" name="" id="nombreParamSan" style="width: 100%;" />
                    </div>
                    <div class="col-xs-4">
                        <h style="font-size: 14px;color: black;font-weight: bold;">Identificación</h>
                        <input type="text" class="form-control" name="" id="cedParamSan" style="width: 100%;" />
                    </div>
                    <div class="col-xs-4">
                        <h style="font-size: 14px;color: black;font-weight: bold;">Fecha Sancion</h>
                        <div class="input-daterange input-group" id="datepicker" style="">
                            <input type="text" class="input-sm form-control" name="start" id="FdesdeParamSan" />
                            <span class="input-group-addon" style="border:none;font-weight: bold;">a</span>
                            <input type="text" class="input-sm form-control" name="end" id="FhastaParamSan" />
                        </div>
                        <br>
                        <button type="button" class="btn btn-block btn-success" style="width: 20%; float: right;" onclick="buscarSancionesParametros();">Buscar</button>
                    </div>

                </div>
            </div>
            <!-- /.box-body-->
        </div>

        <div class="box-body">

            <table id="tabla_controlS" style="font-size: 10px; text-transform: uppercase;" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr class="bg-light-blue-gradient" style="color: white;">
                        <th style="text-align: center;">IDENTIFICACION</th>
                        <th style="text-align: center;">NOMBRE</th>
                        <th style="text-align: center;">TIPO</th>
                        <th style="text-align: center;">FECHA</th>
                        <th style="text-align: center;">ESTADO</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="botonera1" id="bodytabla_controlS">
                    {% for control in controles %}
                    <tr>
                        <td align="center" id="td_nombre_{{ control.id }}">{{ control.funcionario_id.persona_id.identificacion }}</td>
                        <td align="left">{{ control.funcionario_id.persona_id.nombre_completo }}</td>
                        <td align="left" id="td_tipo_{{ control.id }}">
                            {{ control.tipo_text }}
                        </td>
                        <td align="center" id="td_fecha_{{ control.id }}">{{ control.fecha }}</td>
                        <td align="center" id="td_estado_notificacion_{{ control.id }}">
                            {% if control.estado_notificacion == 'CREADO' %}
                            <span class="badge bg-yellow">{{ control.estado_notificacion }}</span> {% elif control.estado_notificacion == 'NOTIFICADO' %}
                            <span class="badge bg-green">{{ control.estado_notificacion }}</span> {% endif%}
                        </td>
                        <td align="center">
                            {% if perms.ap_talentohumano.change_perfuncionariocontrolesrrhh or perms.ap_talentohumano.view_perfuncionariocontrolesrrhh %}
                            <a data-stackbox='true' data-stackbox-position="absolute" href='#addControlSP' onclick="editControl_SP('{{ control.id }}')"> <i class="fa fa-edit text-green"></i></a>
                            {% endif %}
                        </td>

                        <td align="center">
                            {% if perms.ap_talentohumano.delete_perfuncionariocontrolesrrhh %}
                            <a onclick="deleteModal('{{ control.id }}','SP_asistencia');"><i class="fa fa-trash text-green"></i></a> {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- /.box-body -->

    </div>

</div>

<!-- /.box -->
<!-- AdminLTE datatable -->
<!-- jQuery 3 -->
{% load static %}
<input type="hidden" id="verifica_init_sancion" value=0>
<script src="{% static 'js/lib_internas/script.js' %}"></script>
<script>
    $(document).ready(function() {

        var table = $('#tabla_controlS').DataTable({
            orderCellsTop: true,
            responsive: true,
        });

    });
</script>
{% endblock %}