{% load static %} 
{% block content %}

<div id="content_licenciaL">
    <div id="addLicenciaL" style="display: none;">
        <div class="stackbox-header cab_popup" align="center">
            <img src="{% static 'image/favicon.ico' %}" width="40px" style="float:left;margin-top: -5px;" />
            <h id="tituloSanS"> </h> Funcionario Licencias</div>
        <div class="stackbox-body" id="bodyaddLicenciaL">

            <input type="hidden" id="idlicenciaL" name="idlicenciaL" value="" />
            <input type="hidden" id="tipot_licL" value="0" />
            <input type="hidden" id="idaccPerL" name="idaccPerL" value="" />
            <input type="hidden" id="idFuncionarioL" name="idFuncionarioL" value="" />
            <input type="hidden" id="bandLicSP" name="bandLicSP" value="" />
            <div class="notification">
                <span class="icon">
                    <i class=""></i>
                </span>
                <span class="text"></span>
                <span class="close"><i class="fa fa-close"></i></span>
            </div>
            <!--fin notificacion-->
            {% csrf_token %}
            <div class="row" style="box-shadow: 5px 5px 5px 5px #888888; width: 102%; margin-top: 20px;">
                <form id="frm_licenciaL" action="#" method="post">
                    <div class="row">
                        <div class="col-xs-12 callout" style="border-color: #1b90ad;">
                            <div class="col-xs-12 callout" style="border-color: #1b90ad;">
                                <table>
                                    <tr>
                                        <td align="right">Funcionario</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <input type="text" name="nombre_funcLic" id="nombre_funcLic" class="form-control" readonly>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="col-xs-12">
                            <div style="border-bottom:3px solid #3c8dbc;font-size: 14px;box-shadow: 1px 5px 5px;margin-left: 10px;margin-top: -40px;"><i class="fa fa-fw fa-file"></i> Datos Generales</div>
                            <br>
                            <div class="col-xs-6 callout" style="border-color: #1b90ad;">
                                <table>
                                    <tr>
                                        <td align="right">F. Acción Personal</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <input id="fecha_accPL" type="date" class="form-control" readonly style="width: 200px;">
                                        </td>
                                    </tr>
                                    <tr height='10px;'></tr>
                                    <tr>
                                        <td align="right"># Acción Personal</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <input type="text" id="num_accPerL" class="form-control" readonly style="width: 200px;">
                                        </td>
                                    </tr>
                                    <tr height='10px;'></tr>
                                    <tr hidden>
                                        <td align="right">Archivo</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <input type="file" class="form-control" id="file_accPerL" name="myfile" style="width: 200px;">
                                            <div id="contentFileLic" style="margin-left: 20px;">
                                                <img id="imgContentFileLicSP" src="" width="50px" />
                                                <a style="margin-left: 10px;color: black; cursor: pointer;" id="nombreFileLicSP"></a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-xs-6 callout" style="border-color: #1b90ad;">
                                <table>
                                    <tr>
                                        <td align="right"># Informe Técnico</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <input type="text" id="infTecL" class="form-control" style="width: 200px;">
                                        </td>
                                    </tr>
                                    <tr height='10px;'></tr>
                                    <tr>
                                        <td align="right"># Memorandum</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <input type="text" id="memoL" class="form-control" readonly style="width: 200px;">
                                        </td>
                                    </tr>
                                    <tr height='10px;'></tr>
                                    <tr>
                                        <td align="right">Memo</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <!--input type="file" class="form-control" id="file_memoL" name="myfile" style="width: 200px;"-->
                                            <div id="contentFileLic1" style="margin-left: 5px;"><img id="imgContentFileLic1SP" src="" width="50px" />
                                                <a style="margin-left: 10px;color: black; cursor: pointer;font-size: 10px;" id="nombreFileLic1SP"></a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="col-xs-12">
                            <div style="border-bottom:3px solid #3c8dbc;font-size: 14px;box-shadow: 1px 5px 5px;margin-left: 10px;margin-top: -20px;"><i class="fa fa-fw fa-cc-visa"></i> Motivo</div>
                            <br>
                            <div class="col-xs-6 callout" style="border-color: #1b90ad;">
                                <table>
                                    <tr>
                                        <td align="right">Con Remuneración</td>
                                        <td width="20px;"></td>
                                        <td id="SconRemL">

                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-xs-6 callout" style="border-color: #1b90ad;">
                                <input type="hidden" id="textmotivoL" name="textmotivoL" value="" />
                                <table>
                                    <tr>
                                        <td align="right">Motivo</td>
                                        <td width="20px;"></td>
                                        <td id="SmotivoL">

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="col-xs-12" id="div_enfAccLic">
                            <div style="border-bottom:3px solid #3c8dbc;font-size: 14px;box-shadow: 1px 5px 5px;margin-left: 10px;"><i class="fa fa-fw fa-ambulance"></i> Enfermedad/Accidente</div>
                            <br>
                            <div class="col-xs-6 callout" style="border-color: #1b90ad;" id="div_licEnf">
                                <table>

                                    <tr>
                                        <td align="right">Tipo</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <select id="Stipo_enfL" class="select2" style="width: 200px;">

                                            </select>
                                        </td>
                                    </tr>
                                    <tr height='10px;'></tr>
                                    <tr>
                                        <td align="right">Enfermedad</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <textarea id="enfermedadL" name="enfermedadL" class="form-control" rows="2" style="width: 250px;"></textarea>
                                            <!--select id="SenfermedadL" class="select2" style="width: 200px;" hidden>
              <option value=""> Seleccione una Opcion</option>

            </select-->
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div class="col-xs-6 callout" style="border-color: #1b90ad;" id="div_licAcc">
                                <table>
                                    <tr>
                                        <td align="right">Accidentes</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <textarea id="accidenteL" name="accidenteL" class="form-control" rows="2" style="width: 250px;"></textarea>
                                            <!--select id="SaccidenteL" class="select2" style="width: 200px;" hidden>
              <option value=""> Seleccione una Opcion</option>

            </select-->
                                        </td>
                                    </tr>
                                    <tr height='10px;'></tr>
                                    <tr>
                                        <td align="right">Tipo</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <select id="Stipo_accL" class="select2" style="width: 200px;">

                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="col-xs-12">
                            <div style="border-bottom:3px solid #3c8dbc;font-size: 14px;box-shadow: 1px 5px 5px;margin-left: 10px;"><i class="fa fa-fw fa-calendar"></i> Periodo</div>
                            <br>
                            <div class="col-xs-6 callout" style="border-color: #1b90ad;">
                                <table>
                                    <tr>
                                        <td align="right">Fecha Desde</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <input id="fechaDesdeL" type="date" class="form-control" readonly style="width: 200px;">
                                        </td>
                                    </tr>
                                    <tr height='10px;'></tr>
                                    <!--tr>
          <td align="right">Hora Inicial</td>
          <td width="20px;"></td>
          <td>
            <input id="horaIniL" type="time" value="00:00" step="900" class="form-control" style="width: 200px;">
          </td>
      </tr>
       <tr height='10px;'></tr-->
                                    <tr>
                                        <td align="right">Estado Ejecución</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <select id="estadoEjeL" class="select2" style="width: 200px;">
                                                {% for estado in estados %}
                                                <option value="{{ estado.valor }}">{{ estado.label }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-xs-6 callout" style="border-color: #1b90ad;">
                                <table>
                                    <tr>
                                        <td align="right">Fecha Hasta</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <input id="fechaFinL" type="date" readonly class="form-control">
                                        </td>
                                    </tr>
                                    <tr height='10px;'></tr>
                                    <!--tr>
          <td align="right">Hora Final</td>
          <td width="20px;"></td>
          <td>
            <input id="horaFinL" type="time" value="00:00" step="900" class="form-control">
          </td>
      </tr>
      <tr height='10px;'></tr-->
                                    <tr>
                                        <td align="right">Observación</td>
                                        <td width="20px;"></td>
                                        <td>
                                            <textarea class="form-control" name="obser_lic" id="obser_lic" readonly rows="3"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="stackbox-footer">
            {% if perms.ap_talentohumano.change_perlicenciaacciones or perms.ap_talentohumano.add_perlicenciaacciones %}
            <button class="btn btn-primary" id="btn_accLicencia" onclick="setInsertUpdateLicencia_SP();">Grabar</button>
            {% endif %}

            <button class="btn btn-default" data-close-stackbox="true">Close</button>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <i class="fa fa-list"></i>
            <h3 class="box-title">Lista de Licencias</h3>
            <div class="botonera" style="float: right; right: 1px;">
                <a title="pfd" onclick="generarPdf('tabla_licencia_SP',10,1)"><i class="fa fa-file-pdf-o text-green"></i></a>
                <a title="excel" onclick="generarExcel('tabla_licencia_SP',10)"><i class="fa fa-file-excel-o text-green"></i></a>

                <!--a title="Agregar Nuevo" onclick="limpiarFormLicencia_SP();"   href='#addLicenciaL' data-stackbox='true' data-stackbox-position="absolute"><i class="fa fa-plus-circle text-green"></i></a-->
            </div>
        </div>
        <!-- /.box-header -->

        <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="collapse" href="#collapseLic" role="button" aria-expanded="false" aria-controls="collapseLic" style="margin-right: 5px;" data-original-title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
                <!-- /. tools -->
                <i class="fa fa-map-marker"></i>
                <h3 class="box-title">
            Filtros de Busqueda
          </h3>
            </div>
            <div class="box-body collapse" style="background-color: white;" id="collapseLic">
                <div class="col-xs-12">

                    <div class="col-xs-4">
                        <h style="font-size: 14px;color: black;font-weight: bold;height: 20px;">Nombre</h>
                        <input type="text" class="form-control" name="" id="nombreParamLic" style="width: 100%;" />
                    </div>
                    <div class="col-xs-4">
                        <h style="font-size: 14px;color: black;font-weight: bold;">Identificación</h>
                        <input type="text" class="form-control" name="" id="cedParamLic" style="width: 100%;" />
                    </div>
                    <div class="col-xs-4">
                        <h style="font-size: 14px;color: black;font-weight: bold;">Fecha Vigencia</h>
                        <div class="input-daterange input-group" id="datepicker" style="">
                            <input type="text" class="input-sm form-control" name="start" id="FdesdeParamLic" />
                            <span class="input-group-addon" style="border:none;font-weight: bold;">a</span>
                            <input type="text" class="input-sm form-control" name="end" id="FhastaParamLic" />
                        </div>
                        <br>
                        <button type="button" class="btn btn-block btn-success" style="width: 20%; float: right;" onclick="buscarLicenciaParametros();">Buscar</button>
                    </div>

                </div>
            </div>
            <!-- /.box-body-->
        </div>

        <div class="box-body">

            <table id="tabla_licencia_SP" style="font-size: 10px; text-transform: uppercase;" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr class="bg-light-blue-gradient" style="color: white;">
                        <!--th>FECHA CREACIÓN</th-->
                        <th>#ACCION
                            <br>PERSONAL</th>
                        <th>#INFORME
                            <br>TECNICO</th>
                        <th>IDENTIFICACION</th>
                        <th>NOMBRE</th>
                        <th>CON
                            <br>REMU</th>
                        <th>MOTIVO</th>
                        <th>ESTADO EJECUCION</th>
                        <th>ISLA TRABAJA</th>
                        <th>FECHA DESDE</th>
                        <th>FECHA HASTA</th>
                        <th>OBSERVACIONES</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody class="botonera1" id="bodytabla_licencia_SP">

                </tbody>
            </table>

        </div>
        <!-- /.box-body -->

    </div>

</div>
<!-- /.box -->
<!-- AdminLTE datatable -->
<!-- jQuery 3 -->
{% load static %}

<script src="{% static 'js/lib_internas/script.js' %}"></script>
<script>
    $(document).ready(function() {

        var d = new Date();
        var f1 = d.getFullYear() + "-01-01";
        // var f2 = d.getFullYear()+"-"+(d.getMonth()+1)+"-"+ d.getDate();
        var f2 = d.getFullYear() + "-12-31";
        var dataini = f1 + "," + f2;
        buscarLicenciaParametros(dataini);

        f1_aux = '01/01/' + d.getFullYear();
        //f2_aux = (d.getMonth()+1)+'/'+d.getDate()+'/'+ d.getFullYear();
        f2_aux = '12/31/' + d.getFullYear();

        $("#FdesdeParamLic").val(f1_aux);
        $("#FhastaParamLic").val(f2_aux);

        iniciarCombo('Stipo_enfL', 'ENFERMEDADES_TIPO', 'catalogos');
        $("#Stipo_enfL").select2();
        iniciarCombo('Stipo_accL', 'ACCIDENTES_TIPO', 'catalogos');
        $("#Stipo_accL").select2();
        iniciarCombo('estadoEjeL', 'ESTADO_PROCESOS_GTH', 'catalogos');
        $("#estadoEjeL").select2({
            disabled: true
        });

        var table = $('#tabla_licencia_SP').DataTable({
            orderCellsTop: true,
            "order": [
                [0, "desc"]
            ],
            'dom': 'Rlfrtip',
            'colReorder': {
                'allowReorder': false
            }
        });

        $('.input-daterange').datepicker();

    });
</script>
{% endblock %}