 {% load static %} 
 {% block content %}
<!-- Main content -->
<div class="box" style="background-color: black;">
    <div class="box-header" style="color: white;">
        <i class="fa  fa-dashboard"></i>
        <h3 class="box-title">Reporte Tramites</h3>
        <div class="input-group" style="width: 300px;position: relative;float: right;">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right" id="reservationT">
        </div>
    </div>
    <div class="box-body">
        <section class="content">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->

                <div class="box box-solid bg-light-blue-gradient">
                    <div class="box-header with-border">
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="collapse" href="#collapseGrT2" role="button" aria-expanded="false" aria-controls="collapseGrT2" style="margin-right: 5px;" data-original-title="Collapse">
                                <i class="fa fa-minus"></i></button>
                        </div>
                        <!-- /. tools -->
                        <i class="fa fa-search"></i>
                        <h3 class="box-title">
                          Gráfico Sanciónes
                        </h3>
                    </div>
                    <div class="box-body collapse in" style="background-color: white;" id="collapseGrT2">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <!-- small box -->
                                <div class="small-box bg-aqua" style="box-shadow: 15px 5px 5px 5px #a9a9a9;">
                                    <div class="inner">
                                        <h3 id="cuadroIslaTSantaCruz">0</h3>

                                        <p>Santa Cruz</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-hand-o-down"></i>
                                    </div>
                                    <a class="small-box-footer"></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-md-4">
                                <!-- small box -->
                                <div class="small-box bg-green" style="box-shadow: 15px 5px 5px 5px #a9a9a9;">
                                    <div class="inner">
                                        <h3 id="cuadroIslaTSanCristobal">0<sup style="font-size: 20px">%</sup></h3>

                                        <p>San Cristobal</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-hand-o-left"></i>
                                    </div>
                                    <a class="small-box-footer"></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-md-4">
                                <!-- small box -->
                                <div class="small-box bg-yellow" style="box-shadow: 15px 5px 5px 5px #a9a9a9;">
                                    <div class="inner">
                                        <h3 id="cuadroIslaTIsabela">0</h3>

                                        <p>Isabela</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-hand-o-up"></i>
                                    </div>
                                    <a class="small-box-footer"></a>
                                </div>
                            </div>
                            <!-- ./col -->
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-12 box box-success">
                            <div style="box-shadow: 5px 5px 15px 5px #1b1a1a;"></div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-6">
                            <h2 style="font-size: 18px; text-align: center; color: black;">Detalle Tramite Por Islas</h2>
                            <table id="tabla_traDet" class="table table-bordered" cellspacing="0" style="font-size: 10px; text-transform: uppercase;color: black; font-weight: bold;">
                                <thead>
                                    <tr class="bg-light-blue-gradient">
                                        <th>Isla</th>
                                        <th>Estado</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="bodytabla_traDet">
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div id="containerGr1T" class="chart-container"></div>
                        </div>
                        <br>
                        <div class="col-md-12 box box-success">
                            <div style="box-shadow: 5px 5px 15px 5px #1b1a1a;"></div>
                        </div>
                        <br>

                    </div>
                </div>

            </div>
            <!-- /.row (main row) -->

        </section>
    </div>
</div>
<!-- /.content -->
<script src="{% static 'js/lib_internas/script.js' %}"></script>
<script>
    $(document).ready(function() {
        var f1 = (new Date).getFullYear() + "-01-01";
        var f2 = (new Date).getFullYear() + "-12-31";
        var dataini = f1 + "," + f2;

        buscarTramitesParametros(dataini);

        $('#reservationT').daterangepicker();
        var f1_ = (new Date).getFullYear() + "/01/01";
        var f2_ = (new Date).getFullYear() + "/12/31";
        $('#reservationT').val(f1_ + "-" + f2_);

    });
</script>
{% endblock %}