{% load static %} 
{% block content %}

<div id="content_discapacidad">

    <textarea id="cont_form_disc" style="display: none;">
        <div class="col-xs-12 callout" style="border-color: #1b90ad;">
            <script type="text/javascript">
                $("#SestadoDisc").select2();
            </script>
            {% csrf_token %}
            <form id="frm_discapacidad" action="#" method="post">
                <table>

                    <input type="hidden" id="iddiscapacidad" name="iddiscapacidad" value="" />
                    <tr>
                        <td align="left">*Descripción</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="desc_dis" name="desc_dis" text="Descripción" value="" class="form-control requerido" />
                        </td>
                    </tr>
                    <tr height='10px;'></tr>
                    <tr>
                        <td align="left">*Estado</td>
                    </tr>
                    <tr>
                        <td>
                            <select id="SestadoDisc" class="select2 requerido" text="Estado">
                                <option value=""> Seleccione una Opcion</option>
                                <option value="A">ACTIVO</option>
                                <option value="I">INACTIVO</option>
                            </select>
                        </td>
                    </tr>
                    <tr height='10px;'></tr>
                    <tr>
                        <td align="left">Observacion</td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="Observacion_dis" class="form-control" rows="3"></textarea>
                        </td>
                    </tr>
                </table>
                <input type="hidden" id="tipot_disc" value="0" />
            </form>
        </div>
    </textarea>

    <div class="box">
        <div class="box-header">
            <i class="fa fa-list"></i>
            <h3 class="box-title">Lista de Discapacidades</h3>
            <div class="botonera" style="float: right; right: 1px;">
                <a title="pfd" onclick="generarPdf('tabla_discapacidad',2)"><i class="fa fa-file-pdf-o text-green"></i></a>
                <a title="excel" onclick="generarExcel('tabla_discapacidad',2)"><i class="fa fa-file-excel-o text-green"></i></a>

                <a title="Agregar Nuevo" onclick="limpiarFormDiscapacidad();" href='#popupGeneral' data-stackbox='true' data-stackbox-position="absolute"><i class="fa fa-plus-circle text-green"></i></a>

            </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">

            <table id="tabla_discapacidad" style="font-size: 10px; text-transform: uppercase;" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr class="bg-light-blue-gradient" style=" color: white;">
                        <th>DESCRIPCION</th>
                        <th>ESTADO</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="filters" id="ftdisc">
                        <th>DESCRIPCION</th>
                        <th>ESTADO</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="botonera1">
                    {% for discapacidad in discapacidades %}
                    <tr>
                        <input type="hidden" id="td_observacion_{{ discapacidad.id }}" value="{{ discapacidad.observaciones }}">
                        <td align="left" id="td_desc_{{ discapacidad.id }}">{{ discapacidad.descripcion }}</td>
                        <td align="center" id="td_estado_{{ discapacidad.id }}">{{ discapacidad.estado }}</td>

                        <td align="center">
                            <a href='#popupGeneral' data-stackbox='true' data-stackbox-position="absolute" onclick="editDiscapacidad('{{ discapacidad.id }}')"><i class="fa fa-edit text-green"></i></a>
                        </td>

                        <td align="center">
                            <a onclick="deleteModal('{{ discapacidad.id }}','discapacidades');"><i class="fa fa-trash text-green"></i></a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- /.box-body -->

    </div>
</div>
<!-- /.box -->
<!-- AdminLTE datatable -->
<!-- jQuery 3 -->
{% load static %}
<script src="{% static 'js/lib_internas/script.js' %}"></script>
<script>
    $(document).ready(function() {

        var table = $('#tabla_discapacidad').DataTable({
            orderCellsTop: true
        });
        // Setup - add a text input to each footer cell
        // $('#tabla_personas thead tr').clone(true).appendTo( '#tabla_personas thead' );
        $('#tabla_discapacidad thead .filters th').each(function() {
            //var title = $(this).text();
            var title = $('#tabla_discapacidad thead tr:eq(0) th').eq($(this).index()).text();
            cont = 0;
            if ((title == "")) {
                $(this).html('');
            } else {
                $(this).html('<input id="filtro_tdisc' + cont + '" type="text" placeholder="Buscar ' + title + '" style="color:black;"/>');
            }
            cont++;
        });

        // Apply the search
        table.columns().eq(0).each(function(colIdx) {
            $('input', $('#ftdisc th')[colIdx]).on('keyup change', function() {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });

    });
</script>
{% endblock %}