{% load static %} 
{% block content %}

<div id="content_modalidad">
    <textarea id="cont_form_moda" style="display: none;">

        <div class="col-xs-12 callout" style="border-color: #1b90ad;">
            <script type="text/javascript">
                $("#SestadoModa").select2();
            </script>
            {% csrf_token %}
            <form id="frm_modalidad" action="#" method="post">
                <table>

                    <input type="hidden" id="idmodalidad" name="idmodalidad" value="" />
                    <tr>
                        <td align="left">*Descripción</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="desc_moda" name="desc_moda" class="form-control requerido" text="Descripción" />
                        </td>
                    </tr>
                    <tr height='10px;'></tr>
                    <tr>
                        <td align="left">*Estado</td>
                    </tr>
                    <tr>
                        <td>
                            <select id="SestadoModa" class="select2 requerido" text="Estado">
                                <option value=""> Seleccione una Opcion</option>
                                <option value="A">ACTIVO</option>
                                <option value="I">INACTIVO</option>
                            </select>
                        </td>
                    </tr>
                    <tr height='10px;'></tr>
                    <tr>
                        <td align="left">Observacion</td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="observacion_moda" class="form-control" rows="3"></textarea>
                        </td>
                    </tr>
                </table>

                <input type="hidden" id="tipot_moda" value="0" />
            </form>
        </div>
    </textarea>

    <div class="box">
        <div class="box-header">
            <i class="fa fa-list"></i>
            <h3 class="box-title">Lista de Modalidades Laborales</h3>
            <div class="botonera" style="float: right; right: 1px;">
                <a title="pfd" onclick="generarPdf('tabla_modalidad',2)"><i class="fa fa-file-pdf-o text-green"></i></a>
                <a title="excel" onclick="generarExcel('tabla_modalidad',2)"><i class="fa fa-file-excel-o text-green"></i></a>

                <a title="Agregar Nuevo" onclick="limpiarFormModalidad();" href='#popupGeneral' data-stackbox='true' data-stackbox-position="absolute"><i class="fa fa-plus-circle text-green"></i></a>

            </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">

            <table id="tabla_modalidad" style="font-size: 10px; text-transform: uppercase;" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr class="bg-light-blue-gradient" style="color: white;">
                        <th>DESCRIPCION</th>
                        <th>ESTADO</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="filters" id="ftmoda">
                        <th>DESCRIPCION</th>
                        <th>ESTADO</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="botonera1">
                    {% for modalidad in modalidads %}
                    <tr>
                        <input type="hidden" id="td_observacion_{{ modalidad.id }}" value="{{ modalidad.observaciones }}">
                        <td align="left" id="td_desc_{{ modalidad.id }}">{{ modalidad.nombre }}</td>
                        <td align="center" id="td_estado_{{ modalidad.id }}">{{ modalidad.estado }}</td>

                        <td align="center">
                            <a href='#popupGeneral' data-stackbox='true' data-stackbox-position='absolute' onclick="editModalidad('{{ modalidad.id }}')"><i class="fa fa-edit text-green"></i></a>
                        </td>

                        <td align="center">
                            <a onclick="deleteModal('{{ modalidad.id }}','modalidad');"><i class="fa fa-trash text-green"></i></a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- /.box-body -->

    </div>
</div>
<!-- /.box -->
<!-- AdminLTE datatable -->
<!-- jQuery 3 -->
{% load static %}
<script src="{% static 'js/lib_internas/script.js' %}"></script>
<script>
    $(document).ready(function() {

        var table = $('#tabla_modalidad').DataTable({
            orderCellsTop: true
        });
        // Setup - add a text input to each footer cell
        // $('#tabla_personas thead tr').clone(true).appendTo( '#tabla_personas thead' );
        $('#tabla_modalidad thead .filters th').each(function() {
            //var title = $(this).text();
            var title = $('#tabla_modalidad thead tr:eq(0) th').eq($(this).index()).text();
            cont = 0;
            if ((title == "")) {
                $(this).html('');
            } else {
                $(this).html('<input type="text" placeholder="Buscar ' + title + '" style="color:black;"/>');
            }
            cont++;
        });

        // Apply the search
        table.columns().eq(0).each(function(colIdx) {
            $('input', $('#ftmoda th')[colIdx]).on('keyup change', function() {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });

    });
</script>
{% endblock %}